lvgpp_0.1.tar.gz
lvgpp.Rcheck
*jar
target
angular/*
api/__pycache__
atlassian-ide-plugin.xml
bootstrap/*
bower_components
bower_components/*
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dist
.idea/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/gradle.xml
.idea/libraries
.idea_modules/
.idea/mongoSettings.xml
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/workspace.xml
*.iml
*.ipr
*.iws
node_modules
out/
test/
run_local.sh
.sass-cache
.tmp
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
angular/*
api/__pycache__
atlassian-ide-plugin.xml
bootstrap/*
bower_components
bower_components/*
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
dist
.idea/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/gradle.xml
.idea/libraries
.idea_modules/
.idea/mongoSettings.xml
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/workspace.xml
*.iml
*.ipr
*.iws
node_modules
out/
run_local.sh
.sass-cache
.tmp
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
.Rhistory
.Rproj.user
