inst/doc/*
autom4te.cache/*
config.log
config.status
*.rda
.RData
src/*.o
src/*.so
.Rproj.user/*
gpR.Rcheck/*
gpR*tar.gz
crashlytics-build.properties
crashlytics.properties
dist
.idea/
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/gradle.xml
.idea/libraries
.idea_modules/
.idea/mongoSettings.xml
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/workspace.xml
*.iml
*.ipr
*.iws
.Rproj.user
